{% if vsftpd_xferlog_enable | bool %}
xferlog_enable=YES
{% else %}
xferlog_enable=NO
{% endif %}
{% if vsftpd_log_ftp_protocol | bool %}
log_ftp_protocol=YES
{% endif %}
local_enable=YES
{% if vsftpd_chroot_users | bool %}
chroot_local_user=YES
#passwd_chroot_enable=YES
allow_writeable_chroot=YES
{% endif %}
background=NO
seccomp_sandbox=NO
{% if vsftpd_banner is defined and vsftpd_banner | length > 0 %}
ftpd_banner={{ vsftpd_banner }}
{% endif %}
{% if vsftpd_dirmessage_enable | bool %}
dirmessage_enable=YES
{% endif %}
{% if vsftpd_max_clients is defined %}
max_clients={{ vsftpd_max_clients }}
{% endif %}
{% if vsftpd_max_per_ip is defined %}
max_per_ip={{ vsftpd_max_per_ip }}
{% endif %}
write_enable=YES
local_umask=022
{% if vsftpd_ipv6_enable | bool %}
listen=NO
listen_ipv6=YES
{% else %}
listen=YES
listen_ipv6=NO
{% endif %}
seccomp_sandbox=NO
{% if vsftpd_anonymous_enable | bool %}
anonymous_enable=YES
anon_root=/home/public
anon_mkdir_write_enable=YES
{% if vsftpd_anon_upload_enable | bool %}
anon_upload_enable=YES
{% endif %}
{% else %}
anonymous_enable=NO
{% endif %}
{% if vsftpd_pasv_enable | bool %}
pasv_enable=YES
pasv_max_port={{ vsftpd_pasv_max_port }}
pasv_min_port={{ vsftpd_pasv_min_port }}
{% if vsftpd_pasv_address is defined and vsftpd_pasv_address | length > 0 %}
pasv_address={{ vsftpd_pasv_address }}
{% else %}
pasv_addr_resolve=YES
{% endif %}
{% else %}
connect_from_port_20=YES
pasv_enable=NO
{% endif %}
pam_service_name=vsftpd
{% if vsftpd_ssl_enable | bool %}
ssl_enable=YES
# Allow only TLS 1.2 and 1.3
# See https://serverfault.com/a/937598
ssl_tlsv1=NO
ssl_sslv2=NO
ssl_sslv3=NO
force_local_data_ssl=YES
force_local_logins_ssl=YES
{% if vsftpd_require_ssl_reuse | bool %}
require_ssl_reuse=YES
{% else %}
require_ssl_reuse=NO
{% endif %}
ssl_ciphers=HIGH
{% if vsftpd_allow_anon_ssl | bool %}
allow_anon_ssl=YES
{% else %}
allow_anon_ssl=NO
{% endif %}
rsa_cert_file=/etc/ssl/cert.pem
rsa_private_key_file=/etc/ssl/cert.key
{% else %}
ssl_enable=NO
{% endif %}
userlist_enable=YES
userlist_deny=NO
userlist_file=/etc/vsftpd/vsftpd.user_list
