[Install]
WantedBy=multi-user.target

[Unit]
Description={{ vsftpd_service_name }} service
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker rm -f {{ vsftpd_container_name }}
ExecStartPre=/usr/bin/docker build \
    --cache-from {{ vsftpd_image_name }}:{{ vsftpd_version }} \
    --tag {{ vsftpd_image_name }}:{{ vsftpd_version }} \
    {{ vsftpd_docker_working_directory }}

ExecStart=/usr/bin/docker run \
    --name {{ vsftpd_container_name }} \
    --volume {{ vsftpd_config_path }}/etc:/etc \
    --volume {{ vsftpd_config_path }}/pam.d/vsftpd:/etc/pam.d/vsftpd \
    --volume {{ vsftpd_config_path }}/vsftpd:/etc/vsftpd \
    --volume {{ vsftpd_home_volume }}:/home \
    --volume {{ vsftpd_log_volume }}:/var/log \
{% if vsftpd_ssl_enable | bool %}
    --volume {{ vsftpd_ssl_cert_file }}:/etc/ssl/cert.pem:ro \
    --volume {{ vsftpd_ssl_private_key_file }}:/etc/ssl/cert.key:ro \
{% endif %}
{% if vsftpd_anonymous_enable | bool %}
    --volume {{ vsftpd_ftp_volume }}:/var/lib/ftp \
{% endif %}
    --publish {{ vsftpd_interface }}:{{ vsftpd_data_port }}:20 \
    --publish {{ vsftpd_interface }}:{{ vsftpd_control_port }}:21 \
{% if vsftpd_pasv_enable | bool %}
    --publish {{ vsftpd_interface }}:{{ vsftpd_pasv_min_port }}-{{ vsftpd_pasv_max_port }}:{{ vsftpd_pasv_min_port }}-{{ vsftpd_pasv_max_port }} \
{% endif %}
    --tmpfs /tmp \
    {{ vsftpd_image_name }}:{{ vsftpd_version }}

ExecStop=-/usr/bin/docker stop {{ vsftpd_container_name }}
ExecStopPost=-/usr/bin/docker rm -f {{ vsftpd_container_name }}

Restart=always
RestartSec=60s
TimeoutSec=3600
